<h1> Meet <%= @pirate.name %>!</h1>
<h2>Weight: <%= @pirate.weight %>  Height: Weight: <%= @pirate.height %></h2>


<% @ships.each do |ship|%>
<div>
  <h2>Ship Name: <%= ship.name %> </h2>
  <h3>Type: <%= ship.type %> </h3>
  <h3>Booty Details: <%= ship.booty %> </h3>
</div><br>
<% end%>
